{% extends "base.html" %} {% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}" />
{% include "partial/og_article.html" %} {% endblock %} {% block title %} &ndash;
{{ article.title|striptags }}{% endblock %} {% block content %}
<article class="single">
  <header>
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>
      <a href="https://colab.research.google.com/github/nkthiebaut/nkthiebaut.github.io/blob/source/content/{{ article.slug }}.ipynb" rel="nofollow">
      <img alt="Colab" src="https://colab.research.google.com/assets/colab-badge.svg" data-canonical-src="https://colab.research.google.com/assets/colab-badge.svg" style="max-width:100%;">
      </a>
    </p>
    <p>
      {{ _('Posted on %(when)s', when=article.locale_date, ) }} {% if
      'post_stats' in PLUGINS %} &#8226; {{ article.stats['read_mins'] }} min
      read {% endif %}
    </p>
  </header>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
  <script
    async
    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <ins
    class="adsbygoogle ads-responsive"
    data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
    data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {% endif %}

  <div>{{ article.content }}</div>

  {% if article.share_post and article.status != 'draft' %}
  <section>
    <p id="post-share-links" style="text-align: center">
      Share on:
      <a
        href="{{article.share_post['linkedin']}}"
        target="_blank"
        title="Share on LinkedIn"
        ><i class="fa fa-linkedin-square"></i>
      </a>
      <a
        href="{{article.share_post['twitter']}}"
        target="_blank"
        title="Share on Twitter"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        href="{{article.share_post['facebook']}}"
        target="_blank"
        title="Share on Facebook"
        ><i class="fa fa-facebook"></i
      ></a>
      <a
        href="{{article.share_post['email']}}"
        target="_blank"
        title="Share via Email"
        ><i class="fa fa-envelope"></i
      ></a>
    </p>
  </section>
  {% endif %} {% include "partial/disqus.html" %} {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
  </div>
  {% endif %} {% if article.related_posts %}
  <div class="related-posts">
    <h4>{{ _('You might enjoy') }}</h4>
    <ul class="related-posts">
      {% for related_post in article.related_posts %}
      <li>
        <a href="{{ SITEURL }}/{{ related_post.url }}"
          >{{ related_post.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
  <script
    async
    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <ins
    class="adsbygoogle ads-responsive"
    data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
    data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {% endif %}
</article>
{% endblock %}
