{% extends "base.html" %} {% block content %} {% if GOOGLE_ADSENSE and
GOOGLE_ADSENSE.ads.index_top %}
<script
  async
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
<ins
  class="adsbygoogle ads-responsive"
  data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
  data-ad-slot="{{ GOOGLE_ADSENSE.ads.index_top }}"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %} {% for article in articles_page.object_list %}
<article>
  <header>
    <h3>
      <a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}"
        >{{ article.title }}</a
      >
    </h3>
    <p>
      {{ _('%(when)s', when=article.locale_date, ) }} {% if 'post_stats' in
      PLUGINS %} &#8226; {{ article.stats['read_mins'] }} min read {% endif %}
    </p>
  </header>
  


  <div>
  {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
    {% if  article.featured_image %}
      <img width="400" style="display: block;margin-left: auto;margin-right: auto;" src="{{ article.featured_image }}">
    {% endif %}
    {{ article.summary }}
  {% else %}
    {{ article.content }}
  {% endif %}  

  </div>
  {% if not loop.last %}
  <hr />
  {% endif %}
</article>
{% endfor %} {% include "partial/pagination.html" %} {% if GOOGLE_ADSENSE and
GOOGLE_ADSENSE.ads.index_bottom %}
<script
  async
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
<ins
  class="adsbygoogle ads-responsive"
  data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
  data-ad-slot="{{ GOOGLE_ADSENSE.ads.index_bottom }}"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %} {% endblock %}
